@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import 'tailwindcss';

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overscroll-behavior: none;
  font-family: 'Inconsolata', sans-serif;
  background-image:
    url(/public/pattern-line-top.svg),
    url(/public/pattern-lines-bottom-mobile.svg),
    url(/public/background-mobile.png);
  background-position:
    top right,
    0px 115%,
    center;
  background-size:
    100px 100px,
    380px 380px,
    cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  color: white;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  max-width: 100%;
}

@theme {
  --font-inconsolata: 'Inconsolata', sans-serif;

  /* Neutral Colors */
  --color-neutral-900: #0d082d;
  --color-neutral-700: #4b4869;
  --color-neutral-500: rgba(135, 132, 165, 0.2);
  --color-neutral-300: rgba(209, 208, 213, 0.2);
  --color-neutral-0: #ffffff;

  /* Orange Colors */
  --color-orange-700: #e1604f;
  --color-orange-500: #f57463;

  /* Gradient */
  --gradient-01: linear-gradient(90deg, #f37362 0%, #fff 100%);

  /* Breakpoints */

  --breakpoint-tablet: 960px;
  --breakpoint-pc: 1440px;
}
